<%- include("./partials/header.ejs") %>
    <%- include("./partials/navbar.ejs") %>

    <h1>Home Page</h1>
    <h3><%= "Hello World".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat debitis, nemo repellendus odio, eveniet voluptas cum alias nobis accusantium illo, quia fuga incidunt similique doloremque dolorem quibusdam obcaecati iusto quod.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat debitis, nemo repellendus odio, eveniet voluptas cum alias nobis accusantium illo, quia fuga incidunt similique doloremque dolorem quibusdam obcaecati iusto quod.</p>
    
<%- include("./partials/footer.ejs") %>