<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Home Page</h1>
    <h3><%= "Hello World".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat debitis, nemo repellendus odio, eveniet voluptas cum alias nobis accusantium illo, quia fuga incidunt similique doloremque dolorem quibusdam obcaecati iusto quod.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat debitis, nemo repellendus odio, eveniet voluptas cum alias nobis accusantium illo, quia fuga incidunt similique doloremque dolorem quibusdam obcaecati iusto quod.</p>
</body>
</html>